/*! Estilos Generales */
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Open Sans';
  background-color: #fff;
}
/** Header - Cabecera */
header {
  background-image: url(../img/bradcam.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  color: #fff;
}
#menu {
  padding-top: 10px;
  padding-bottom: 30px;
}
header #menu ul {
  margin: 0;
  padding: 0;
}
header #menu ul li {
  display: inline-block;
  padding: 20px;
  /* Centra los elementos li verticalmente con respecto al logo */
  vertical-align: middle;
  list-style: none;
}
header #menu ul li a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}
header #menu ul li a:hover {
  color: rgb(27, 28, 104);
  text-decoration: underline;
  font-weight: bold;
}
.logo {
  margin-right: 25%;
  margin-left: 100px;
}
/** Main - Contenido Principal */
#main-content {
  width: 1200px;
  margin: 0 auto;
} 
#main-content div {
  display: inline-block;
  vertical-align: middle;
}
.main-text h1 {
  font-size: 80px;
}
.main-text p {
  font-size: 20px;
  padding: 20px 0px;
}
.main-text button {
  background-color: #fff;
  color: rgb(27, 28, 104);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 30px;
  margin: 10px 0px;
}
.main-text button:hover {
  background-color: rgb(27, 28, 104);
  color: #fff;
  box-shadow: 0px 0px 50px rgb(27, 28, 104);
}
.main-image  {
  width: 600px;
  text-align: right;
}
.main-image img {
  width: 400px;
}
/** Features (General) */
.layout {
  margin: 130px auto;
  width: 1200px;
}
.layout div {
  display: inline-block;
  vertical-align: middle;
}
.layout h3 {
  font-size: 48px;
  padding-bottom: 25px;
}
.layout p {
  padding: 25px 0;
  line-height: 1.8em;
  font-size: 16px;
}
/* Features (left - izquierda) */
.features-left .features-text{
  width: 505px;
}
.features-left .features-image{
  width: 685px;
  text-align: right;
}
/* Features (right - derecha) */
.features-right .features-text{
  width: 505px;
}
.features-right .features-image{
  width: 685px;
  text-align: center;
}
.features-image img {
  width: 550px;
}
/* Download - Descargas */


/* Footer - Pie de pagina */
footer {
  background-color: rgb(22, 24, 100);
  padding: 80px 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
footer p {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
}